<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QR Code</title>
</head>
<body>
<h1>QR Code</h1>
<img th:src="@{/generateQRCode(storeId=${storeId})}" alt="QR Code">
<p>Current Umbrella Count: <span id="umbrellaCount"></span></p>

<script>
    async function fetchUmbrellaCount() {
        const storeId = /*[[${storeId}]]*/ '';
        const response = await fetch(`/umbrella/count?storeId=${storeId}`);
        const count = await response.json();
        document.getElementById('umbrellaCount').textContent = count;
    }

    fetchUmbrellaCount();

    setInterval(fetchUmbrellaCount, 5000); // 5초마다 우산 개수 업데이트
</script>
</body>
</html>
